@import "tailwindcss";

@theme {
  --color-primary-50: #fef7ee;
  --color-primary-100: #fdedd6;
  --color-primary-200: #f9d7ad;
  --color-primary-300: #f4b978;
  --color-primary-400: #ee9242;
  --color-primary-500: #ea751a;
  --color-primary-600: #db5b10;
  --color-primary-700: #b5440f;
  --color-primary-800: #903614;
  --color-primary-900: #742f14;
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 antialiased;
  }
}
